<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the HomePage , This is test!</h1>
    <h3>{{question}}</h3>
    {{line_msg}}
    
    
    <form class="grid" action="/result" method="POST">
        <label for="Questions"> Enter the Questions</label>
        <input type="text" name="question" id="question">
        <input type="Submit" class="file_submit">

    </form>
    <!--
    <form class="getMsgFromLine" action="/line" method="GET">
        <button> Get FROM LINE app    ,,,, </button>
    </form>
    -->
    <p> The answer is {{answer}}</p>

    
</body>
</html>