<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the HomePage!</h1>
    <form class="grid" action="/result" method="POST">
        <label for="Questions"> Enter the Questions</label>
        <input type="text" name="question" id="question">
        <input type="Submit" class="file_submit">

    </form>
    <form class="getMsgFromLine" action="/" method="GET">
        <button> Get FROM LINE </button>
    </form>
</body>
</html>